$color-primary: #1e92ff;
$color-black: #000000;
$color-white: #ffffff;
$color-success: #00f261;
$color-warning: #ff9329;
$color-error: #ff2929;
$color-info: #558efb;
$color-ghost: #e4eaf1;
$body-bg-color: #eaf3fa;
$placeholder-color: #999999;
$disabled-color: #f0f0f0;
$border-color-base: #c4c4c4;
$border-color-light: #ededed;
$neutral-color-3: #333333;
$neutral-color-6: #666666;
$neutral-color-9: #999999;
$color-text-default: #3f3f3f;
$box-shadow-base: 0 2px 8px 0 rgba(0, 0, 0, 0.14) !default;