$size-large-h: 40;
$size-default-h: 32;
$size-small-h: 26;
$offset-arrow: 8px;
$small-border-arrow: 7px;
$large-border-arrow: 9px;
$offset-arrow-after: 6px;
$small-border-arrow: 6px;
$large-border-arrow: 8px;