.elyn-base-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	z-index: 101;
}

@mixin elyn-base-arrow-theme($theme) {
	&[x-placement^="top"] {
		margin-bottom: $offset-arrow;
		& > .elyn-base-arrow {
			bottom: -$small-border-arrow;
			border-width: $offset-arrow $large-border-arrow 0 $large-border-arrow;
			border-color: rgba(map-get($color-theme, color-#{$theme}), .95) transparent transparent transparent;
		}
	}
	&[x-placement^="bottom"] {
		margin-top: $offset-arrow;
		& > .elyn-base-arrow {
			top: -$small-border-arrow;
			border-width: 0 $large-border-arrow $offset-arrow $large-border-arrow;
			border-color: transparent transparent rgba(map-get($color-theme, color-#{$theme}), .95) transparent;
		}
	}
	&[x-placement^="right"] {
		margin-left: $offset-arrow;
		& > .elyn-base-arrow {
			left: -$small-border-arrow;
			border-width: $large-border-arrow $offset-arrow $large-border-arrow 0;
			border-color: transparent rgba(map-get($color-theme, color-#{$theme}), .95) transparent transparent;
		}
	}
	&[x-placement^="left"] {
		margin-right: $offset-arrow;
		& > .elyn-base-arrow {
			right: -$small-border-arrow;
			border-width: $large-border-arrow 0 $large-border-arrow $offset-arrow;
			border-color: transparent transparent transparent rgba(map-get($color-theme, color-#{$theme}), .95);
		}
	}
}
.elyn-poptip {
	@include elyn-base-arrow-theme("light")
}
.elyn-ui-tooltip {
	@include elyn-base-arrow-theme("dark")
}
